p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border: none;
    border-top: 2px solid #666; 
    margin: 1px 0;
}

#suprema {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: 750px;
}

.Imagem_Centro_Distribuição {
    background: rgb(214, 211, 211);
    text-align: center;
    padding: 8px;
    max-width: 80%;
    margin: 20px auto;
}

/* Texto e Imagem da família */
/*é o Joel, não alguma I.A*/

.Imagem_Familia {
    float: right;
    background: rgb(214, 211, 211);
    text-align: center;
    padding: 8px;
    max-width: 50%;
    margin: 10px auto;
}

.texto-esquerda {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
/* Texto e Imagem da família */

.Texto3 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

